# Importamos el Dataset seleccionado y lo analizamos

In [152]:
import pandas as pd

In [153]:
df = pd.read_csv("../Input/songdata.csv", encoding="Latin1")

In [154]:
df.shape

(57650, 4)

In [155]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [156]:
df.duplicated().sum()

0

In [157]:
df.head()

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \nAnd..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \nTouch me gentl..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \nWhy I had t...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [158]:
df["song"].loc[0] = df["song"].loc[0].replace("Ahe's My Kind Of Girl", "She's My Kind of Girl")

In [147]:
df["text"] = [e.replace("  \n", " ") for e in df["text"]]
df["song"] = [e.replace("(", "").replace(")", "").replace("[", "").replace("]", "") for e in df["song"]]

In [148]:
df.head()

,artist,song,link,text
0,ABBA,She's My Kind of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \nAnd..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \nTouch me gentl..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \nWhy I had t...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

En general parecía bastante limpio, en la columna "song" he corregido un fallo que he podido ver en la primera canción y he eliminado paréntesis y corchetes. En la columna "text" he eliminado los saltos de línea

In [149]:
df = df.reset_index()

In [150]:
df = df.set_index("index")

# Guardamos el CSV limpio

In [151]:
df.to_csv("../Output/songdata_clean.csv")